div.comment.stark-components.z-depth-1(ng-controller="commentController")
    h1.title 评论
    hr.hr1
    hr.hr2
    div.loading(ng-hide="loadingComplete")
        div.preloader-wrapper.big.active
            div.spinner-layer.spinner-blue-only
                div.left.circle-clipper
                    div.circle
                div.right.circle-clipper
                    div.circle
    div.comment-collection 
        div.comment-item(ng-repeat="comment in comments")
            div.comment-main-content
                em.name {{comment.publisherName}}：
                em(ng-show="comment.isReply") 回复 
                em.name(ng-show="comment.isReply") @{{comment.targetName}}：
                em {{comment.content}}
            div.comment-function
                em.time {{comment.time}}
                a.reply-or-delete(ng-show="comment.isMyComment",ng-click="removeComment(this.comment.timeStamp)") 删除
                a.reply-or-delete(ng-hide="comment.isMyComment",ng-click="replyComment()") 回复
            div.comment-reply.row(ng-show="replyInputIsShow")
                div.input-field.col.s12
                    i.material-icons.prefix question_answer
                    input.validate(id="replybox",type="text",ng-model="reply")
                    label(for="replybox") 回复
                    a.waves-effect.wave-light.btn.reply-submit(ng-click="addReply()") 确认
        div(ng-show="comments.indent")
            a 显示全部评论
    div.comment-add.row
        div.input-field.col.s12
            i.iconfont.prefix &#xe61d;
            input.validate(id="commentbox",type="text",ng-model="newComment")
            label(for="commentbox") 这里写下评论~
            a.waves-effect.wave-light.btn.comment-submit(ng-click="addComment()") 确认
