.comment {
    width: 475px;
    background-color: #f9f9f9;
    position: relative;
    padding: 0 !important;
    >.col.s6 {
        padding: 20px;
    }
    >.title {
        padding: 10px;
        padding-left: 20px;
        color: #000;
        font-size: 20px;
        font-weight: 600;
    }
    .hr1 {
        border: none;
        border-top: 5px solid #0bb9f8;
        width: 110px;
        display: inline-block;
        margin-left: 10px;
    }
    .hr2 {
        display: inline-block;
        width: 330px;
        border: none;
        border-top: 2px solid #d9d9d9;
    }
    .comment-item {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        font-size: 16px;
        line-height: 25px;
        .name {
            color: #0bb9f8;
        }
        .time {
            font-size: 14px;
            color: #999;
        }
        .reply {
            float: right;
            padding-right: 5px;
        }
    }
    .comment-add {
        position: relative;
        padding-bottom:10px; 
        .comment-submit {
            float: right;
        }
    }
}
