div(ng-controller="detailEditorController")
    div.detail-editor#change-show(ng-show="detailEditorIsShow",ng-click="changeDetailEditorShow($event)")
        div.detail-editor-box.z-depth-4
            div.row
                div.col.s12.loader(ng-show="detailEditorLoaderIsShow")
                    div.preloader-wrapper.big.active
                        div.spinner-layer.spinner-red-only
                            div.circle-clipper.left
                                div.circle
                            div.gap-patch
                                div.circle
                            div.circle-clipper.right
                                div.circle
                div.col.s12.title
                    h1 修改商品信息
                div.input.col.s12
                    label(for="item-name") 商品名称（必填）
                    input#item-name.validate(type="text",ng-model="item.name",required)
                    
                div.input.col.s12
                    label(for="item-detail") 商品详情（必填）
                    textarea#item-detail.materialize-textarea(ng-model="item.detail",required)
                    
                div.input-field.col.s6
                    select.browser-default(ng-model="item.location")
                        option(value="",disabled,selected) 交易地点
                        option(value="全校") 全校
                        option(value="邯郸校区") 邯郸校区
                        option(value="江湾校区") 江湾校区
                        option(value="枫林校区") 枫林校区
                        option(value="张江校区") 张江校区
                div.input.col.s6
                    label(for="item-price") 商品价格（必填）（元）
                    input#item-price.validate(type="text",ng-model="item.price",pattern="[0-9]*",required)
                    
                div.input-field.col.s6
                    select.browser-default(ng-model="item.category",required)
                        option(value="",disabled,selected) 商品类型（必填）
                        option(value="闲置数码") 闲置数码
                        option(value="校园代步") 校园代步
                        option(value="电器日用") 电器日用
                        option(value="图书教材") 图书教材
                        option(value="美妆衣物") 美妆衣物
                        option(value="运动棋牌") 运动棋牌
                        option(value="票券小物") 票券小物
                div.switch.col.s6
                    label 
                        em 可讲价
                        input(type="checkbox",ng-model="item.noBargain")
                        span.lever
                        em 不可讲价
                
                //- div.col.s12.tags
                //-     p 标签
                //-     button.waves-effect.waves-light.btn 标签1
                //-     button.waves-effect.waves-light.btn 标签2
                //-     button.waves-effect.waves-light.btn 标签3
                //-     button.waves-effect.waves-light.btn 标签4
                p.contact 联系方式
                div.email.input-field.col.s6
                    h1(for="item-contact-phone") 手机（必填）
                    input#item-contact-phone.validate(type="text",ng-model="item.tel",required,pattern="[0-9]{11}")
                    
                div.email.input-field.col.s6
                    //- input#item-contact-stuNo.validate(type="text",ng-model="item.stuNo",required,pattern="[0-9]{11}")
                    //- label(for="item-contact") 学号（必填）
                    h1 邮箱
                    p #{session.email}
                div.email.col.s6.input-field 
                    h1(for="item-contact-qq") QQ
                    input#item-contact-qq.validate(type="text",ng-model="item.qq")
                    
                div.email.input-field.col.s6
                    h1(for="item-contact-wechat") 微信号
                    input#item-contact-wechat.validate(type="text",ng-model="item.wechat")
                    
                button.waves-effect.waves-light.btn-large.publish-btn.red.lighten-1(ng-click="update()")
                    i.iconfont.left &#xe611;
                    em 马上发布