div.detail-box.z-depth-2.row(ng-controller="detailBoxController")
    div.col.s6
        div.slider
            ul.slides
                li
                    img(src="/img/0.png")
                    div.caption.center-align
                        h3 Test
                li
                    img(src="/img/1.png")
                    div.caption.center-align
                        h3 Test
                li
                    img(src="/img/2.png")
                    div.caption.center-align
                        h3 Test
    div.col.s6
        

