html(ng-app="starkAPP")
    head
        link(rel='stylesheet',href='/static/css/index.css')
        script(type='text/javascript',src='/static/js/bundle.js')
    body(ng-view)
        include ./module/header.jade