div.signup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 999;
    overflow: auto;
    .publish-box {
        >.row {
            padding-bottom: 60px;
        }
        width: 300px;
        position:absolute;
        left: 50%;
        margin-left: -150px;
        top: 10%;
        background:#fff;
        .title {
            background:url('/static//img/title.png');
            background-size:contain;
            height: 100px;
        }
        div.s6 {
            height: 50px;
        }
        .verify-btn {
            position: absolute;
            bottom: 50px;
            left: 50%;
            margin-left: -75px;
        }
        .signup-btn{
            position: absolute;
            bottom: 30px;
            left: 50%;
            margin-left: -60px;
        }
        .publish-btn:hover {
            background-color: lighten(#EF5350, 5%) !important;
        }
        .login-area{
            text-align: center;
            position:relative;
            top: 60px;
            a{
                color: #EF5350;
                cursor: pointer;
            }
        }
    }
}
