div(ng-controller="signupController")
    div.signup.stark-components#change-show(ng-show="signupIsShow",ng-click="changeSignupShow($event)")
            div.publish-box.z-depth-4
                div.row
                    div.col.s12.title
                    div.input-field.col.s12
                        input.validate(type="text",ng-model="signupInfo.tel",required,pattern="^1[0-9]{10}$")
                        label 手机
                    div.col.s12(ng-show="checkTelIsShow")
                        button.waves-effect.waves-light.btn.verify-btn.red.lighten-1(ng-click="checkTel()")
                            i.iconfont.left &#xe60d;
                            em 验证手机
                    div.login-area.col.s12(ng-show="checkTelIsShow")
                        em 已有账号？去
                        a(ng-click="showLogin()") 登录
                    div.input-field.col.s12(ng-show="captchaIsShow")
                        input.validate(type="text",ng-model="signupInfo.captcha",required)
                        label 验证码
                    div.input-field.col.s12(ng-show="captchaIsShow")
                        input.validate(type="password",ng-model="signupInfo.password",required)
                        label 密码
                    div.input-field.col.s12(ng-show="captchaIsShow")
                        input.validate(type="password",ng-model="signupInfo.password2",required)
                        label 确认密码
                    div.input-field.col.s12(ng-show="captchaIsShow")
                        input.validate(type="text",ng-model="signupInfo.name",required)
                        label 昵称
                    button.waves-effect.waves-light.btn.signup-btn.red.lighten-1(ng-show="signupBtnIsShow",ng-click="signup()")
                        i.iconfont.left &#xe60b;
                        em 注册