div.header(ng-controller="headerController")
            div.head-bar
                a 用户名
                a 学邮认证
                a 退出
            div.head-main
                div.logo
                div.search-bar
                    input
                    button 搜索
                button.publish 我要发布