html(ng-app="starkAPP")
    head
        title #{category} - 复旦二手市场
        link(rel="icon",href="/static/img/favicon.ico",mce_href="/static/img/favicon.ico",type="image/x-icon")
        link(rel='stylesheet',href='/static/pages/index/index.css')
        script(type='text/javascript',src='/static/pages/index/index.bundle.js')
        script(type='text/javascript',src='/static/base/jquery.js')
        script(type='text/javascript',src='/static/base/materialize.min.js')
        link(rel="stylesheet",href="/static/base/materialize-icon.css")
    body(ng-view,ng-cloak)
        include ../components/header/header.jade
        include ../components/sidebar/sidebar.jade
        div.main-content
            div.index-title 
                p #{category}
                hr.hr1
                hr.hr2
            include ../components/waterfoo/waterfoo.jade
        include ../components/back-to-top/back-to-top.jade