html(ng-app="starkAPP")
    head
        title #{category} - 复旦二手市场
        link(rel='stylesheet',href='/static/pages/index/index.css')
        script(type='text/javascript',src='/static/pages/index/index.bundle.js')
        script(type='text/javascript',src='http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js')
        script(type='text/javascript',src='/static/base/materialize.min.js')
        link(rel="stylesheet",href="https://fonts.googleapis.com/icon?family=Material+Icons")
    body(ng-view)
        include ../components/header/header.jade
        include ../components/waterfoo/waterfoo.jade