html(ng-app="starkAPP")
    head
        link(rel='stylesheet',href='/static/pages/detail/detail.css')
        script(type='text/javascript',src='/static/pages/detail/detail.bundle.js')
        script(type='text/javascript',src='http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js')
        script(type='text/javascript',src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js')
        link(rel="stylesheet",href="https://fonts.googleapis.com/icon?family=Material+Icons")
    body(ng-view)
        include ../components/header/header.jade
        include ../components/detail-box/detail-box.jade