html(ng-app="starkAPP")
    head
        title #{detailBox.name}
        link(rel='stylesheet',href='/static/pages/detail/detail.css')
        script(type='text/javascript',src='/static/pages/detail/detail.bundle.js')
        script(type='text/javascript',src='/static/base/jquery.js')
        script(type='text/javascript',src='/static/base/materialize.min.js')
        link(rel="stylesheet",href="/static/base/materialize-icon.css")
    body(ng-view)
        include ../components/header/header.jade
        include ../components/detail-box/detail-box.jade