html(ng-app="starkAPP")
    head
        title 登录 - 复旦二手工坊
        meta(name="keywords",content="复旦,复旦大学,复旦二手工坊,校园,大学,大学生,二手,闲置,二手市场,跳蚤市场,旧货市场,二手网,二手交易,校园二手,校园二手市场,校园二手网,校园跳蚤市场,大学生二手,大学生二手市场,大学生二手网,大学生跳蚤市场")
        meta(name="description",content="复旦人自己的二手交易平台！涵盖闲置数码、校园代步、电器日用、图书教材、美妆衣物、运动棋牌、票券小物。满足复旦学生校园内的二手交易的需求。学号认证更安全，校内交易更方便。")
        link(rel="icon",href="/static/img/favicon.ico",mce_href="/static/img/favicon.ico",type="image/x-icon")
        link(rel='stylesheet',href='/static/pages/login/login.css')
        script(type='text/javascript',src='/static/pages/index/index.bundle.js')
        script(type='text/javascript',src='/static/base/jquery.js')
        script(type='text/javascript',src='/static/base/materialize.min.js')
        link(rel="stylesheet",href="/static/base/materialize-icon.css")
    body(ng-view,ng-cloak).login-page
        h1 复旦二手工坊
        include ../components/login/login.jade
        include ../components/signup/signup.jade
        include ../components/alert/alert.jade
        include ../components/forget/forget.jade
