html(ng-app="starkAPP")
    head
        title 登陆 - 复旦二手市场
        link(rel='stylesheet',href='/static/pages/login/login.css')
        script(type='text/javascript',src='/static/pages/index/index.bundle.js')
        script(type='text/javascript',src='/static/base/jquery.js')
        script(type='text/javascript',src='/static/base/materialize.min.js')
        link(rel="stylesheet",href="/static/base/materialize-icon.css")
    body(ng-view).login-page
        h1 复旦二手市场
        include ../components/login/login.jade
        include ../components/signup/signup.jade
