html(ng-app="starkAPP")
    head
        title 我发布的商品
        link(rel="icon",href="/static/img/favicon.ico",mce_href="/static/img/favicon.ico",type="image/x-icon")
        link(rel='stylesheet',href='/static/pages/usermanage/usermanage.css')
        script(type='text/javascript',src='/static/pages/index/index.bundle.js')
        script(type='text/javascript',src='/static/base/jquery.js')
        script(type='text/javascript',src='/static/base/materialize.min.js')
        link(rel="stylesheet",href="/static/base/materialize-icon.css")
    body(ng-view)
        include ../components/header/header.jade
        div.index-title 
            p 我发布的商品
            hr.hr1
            hr.hr2
        include ../components/waterfoo/waterfoo.jade
        include ../components/detail-editor/detail-editor.jade