div.alert.stark-components {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 9999;
    .publish-box {
        >.row{
            margin:0;
        }
        z-index: 9999;
        width: 250px;
        position:absolute;
        left: 50%;
        margin-left: -125px;
        top: 30%;
        background:#fff;
        .content{
            padding:.75em;
            font-size: 18px;
        }
        .title {
            color: #fff;
            padding: 10px;
            font-size: 24px;
            text-align: center;
        }
        .close{
            float: right;
            font-size: 16px;
        }
    }
}
