div.alert.stark-components,
div.notice.stark-components {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 9999;
    .publish-box {
        >.row {
            margin: 0;
        }
        z-index: 9999;
        width: 250px;
        position:absolute;
        left: 50%;
        margin-left: -125px;
        top: 30%;
        background:#fff;
        .content {
            padding: .75em;
            font-size: 18px;
            text-align: center;
        }
        .title {
            color: #fff;
            padding: 10px;
            font-size: 24px;
            text-align: center;
        }
        .logo {
            height: 80px;
            background: url(/static//img/title.png);
            background-size: cover;
        }
        .link {
            text-align: center;
            a {
                text-align: center;
                cursor: pointer;
            }
        }
        .close-wrapper{
            margin-top: 10px;
        }
        .close {
            font-size: 16px;
            display: block;
            margin: 0 auto;
            width: 92px;
        }
    }
}
