$depth-2:0 8px 17px 0 rgba(0, 0, 0, 0.2),
0 6px 20px 0 rgba(0, 0, 0, 0.19);
$depth-1:0 2px 5px 0 rgba(0, 0, 0, 0.16),
0 2px 10px 0 rgba(0, 0, 0, 0.12);
.waterfoo.stark-components {
    width: 900px;
    margin: 10px auto;
    .normal {
        a {
            display: block;
            color: #000;
            text-decoration: none;
            overflow: hidden;
        }
        .card {
            margin: 10px;
            width: 280px;
            padding: 0;
            transition: all 0.3s;
            background: #f9f9f9;
            .item-price {
                color: #EF5350;
                font-weight: 600;
                padding-bottom: 0;
                font-size: 20px;
            }
            .item-name {
                font-size: 18px;
            }
            .item-location {
                padding: 0 20px;
                padding-bottom: 10px;
                color: #999;
                font-size: 14px;
                p:first-child {
                    float: right;
                    color: #42a5f5;
                    padding: 5px 10px;
                    line-height: 10px;
                    border-radius: 10px;
                    border: 1px solid;
                    text-align: center;
                }
            }
        }
        .card:hover {
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background: #fff;
        }
        .card-image {
            height: 280px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            .card-title {
                background: rgba(0, 0, 0, 0.5);
            }
        }
        .card-content {
            font-size: 16px;
            line-height: 20px;
            p {
                height: 20px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
    .list {
        a {
            display: block;
            color: #000;
            text-decoration: none;
            overflow: hidden;
        }
        .main-info {
            border-right: 1px solid #ddd;
        }
        .card {
            margin: 20px;
            padding: 0;
            transition: all 0.3s;
            background: #f9f9f9;
            >.col {
                height: 200px;
            }
        }
        .card-image {
            height: 200px;
            padding: .75em .75em;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            >a {
                width: 100%;
                height: 100%;
            }
        }
        h1 {
            padding: 10px;
        }
        .item-name,
        .item-price {
            height: 70%;
        }
        .item-publisher,
        .item-location {
            height: 30%;
            font-size: 16px;
            color: #999;
        }
        .item-location,
        .item-price {
            text-align: right;
        }
        .item-name {
            font-size: 20px;
            font-weight: 600;
        }
        .item-price {
            font-size: 20px;
            color: #ee6e73;
            font-weight: 700;
        }
        .btn-col {
            position: relative;
            padding: 20px 18px;
            .btn {
                width: 180px;
                margin-bottom: 20px;
            }
            .btn.teal.accent-4:hover {
                background-color: lighten(#00bfa5, 5%) !important;
            }
            .btn.cyan.darken-1:hover {
                background-color: lighten(#00acc1, 5%) !important;
            }
            .btn.red.lighten-1:hover {
                background-color: lighten(#ef5350, 5%) !important;
            }
        }
        .status-col {
            font-size: 20px;
            padding: 80px 60px;
        }
    }
    .progress {
        margin-top: 20px;
        float: left;
    }
    .no-item {
        font-size: 30px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        margin-bottom: 50px;
        >button:hover {
            background-color: lighten(#EF5350, 5%) !important;
        }
    }
}
