div.waterfoo.row(ng-controller="waterfooController",infinite-scroll="getItem()",infinite-scroll-distance="1",infinite-scroll-disabled="isBusy")

    div.item-wrapper.normal(ng-hide="waterfooListIsShow")
        div.card.col(ng-repeat="item in items")
            a(ng-href="/item/{{item.pubTimeStamp||0}}")
                div.card-image(style="background-image:url({{item.image[0]}})")
                    //- img(ng-src="{{item.image[0]}}")
                    span.card-title ￥{{item.price}}
                div.card-content
                    p {{item.name}}
    div.item-wrapper.list(ng-show="waterfooListIsShow")
        div.card.row(ng-repeat="item in items")
            div.card-image.col.s3(style="background-image:url({{item.image[0]}})")
                a(ng-href="/item/{{item.pubTimeStamp||0}}")
                //- img(ng-src="{{item.image[0]}}")
            div.main-info.col.s6
                a(ng-href="/item/{{item.pubTimeStamp||0}}")
                    h1.item-name.col.s8 {{item.name}}
                    h1.item-price.col.s4 ￥{{item.price}}
                    h1.item-publisher.col.s6 发布者：{{item.publisher_name}}
                    h1.item-location.col.s6 {{item.location}}
            div.col.s3.btn-col
                button.waves-effect.waves-light.btn(ng-click="showDetailEditor()")
                    i.material-icons.left mode_edit
                    em 修改商品信息
                button.waves-effect.waves-light.btn.red
                    i.material-icons.left system_update_alt
                    em 下架商品
    div.progress(ng-show="loaderShow")
        div.indeterminate