div.waterfoo.row(ng-controller="waterfooController",infinite-scroll="getItem()",infinite-scroll-distance="1",infinite-scroll-disabled="isBusy")

    div.item-wrapper.normal(ng-hide="waterfooListIsShow")
        div.card.col(ng-repeat="item in items")
            a(ng-href="/item/{{item.pubTimeStamp||0}}")
                div.card-image(style="background-image:url({{item.image[0]}})")
                div.card-content.item-price ￥{{item.price}}
                div.card-content.item-name
                    p {{item.name}}
                div.card-content.item-location
                    p {{item.location}}
                    p {{item.pubTime}}
    div.item-wrapper.list(ng-show="waterfooListIsShow")
        div.card.row(ng-repeat="item in items")
            div.card-image.col.s3(style="background-image:url({{item.image[0]}})")
                a(ng-href="/item/{{item.pubTimeStamp||0}}")
                //- img(ng-src="{{item.image[0]}}")
            div.main-info.col.s6
                a(ng-href="/item/{{item.pubTimeStamp||0}}")
                    h1.item-name.col.s8 {{item.name}}
                    h1.item-price.col.s4 ￥{{item.price}}
                    h1.item-publisher.col.s6 发布者：{{item.publisher_name}}
                    h1.item-location.col.s6 {{item.location}}
            div.col.s3.status-col(ng-show="item.status == 'saled'")
                i.iconfont.left &#xe60e;
                em 已售出
            div.col.s3.status-col(ng-show="item.status == 'undercarriage'")
                i.iconfont.left &#xe613;
                em 已下架
            div.col.s3.btn-col(ng-show="item.status != 'saled'&&item.status != 'undercarriage'")
                button.waves-effect.waves-light.btn.red.lighten-1(ng-click="itemSaled()")
                    i.iconfont.left &#xe60e;
                    em 确认售出
                button.waves-effect.waves-light.btn.cyan.darken-1(ng-click="showDetailEditor()")
                    i.iconfont.left &#xe608;
                    em 编辑商品
                button.waves-effect.waves-light.btn.grey(ng-click="itemUnderCarriage()")
                    i.iconfont.left &#xe613;
                    em 下架商品
    div.no-item(ng-show="noItemIsShow")
        p 哎呀，还没有人发布这个类型的商品哦~
        - if(session.login)
            - if(session.emailVerified)
                button.red.lighten-1.waves-effect.waves-light.btn(ng-click="showPublish()") 我要发布
            - else
                button.red.lighten-1.waves-effect.waves-light.btn(ng-click="showVerifyMail()",data-position="top",data-delay="50",data-tooltip="需要先验证邮箱哦！") 我要发布
        - else
            button.red.lighten-1.waves-effect.waves-light.btn(ng-click="showLogin()",data-position="top",data-delay="50",data-tooltip="需要先登陆哦！") 我要发布
    div.progress(ng-show="loaderShow")
        div.indeterminate