$depth-2:0 8px 17px 0 rgba(0, 0, 0, 0.2),
0 6px 20px 0 rgba(0, 0, 0, 0.19);
$depth-1:0 2px 5px 0 rgba(0, 0, 0, 0.16),
0 2px 10px 0 rgba(0, 0, 0, 0.12);
.waterfoo {
    width: 1040px;
    margin: 10px auto;
    .normal {
        a {
            display: block;
            color: #000;
            text-decoration: none;
            overflow: hidden;
        }
        .card {
            margin: 10px;
            width: 240px;
            padding: 0;
            transition: all 0.3s;
            background: #f9f9f9;
        }
        .card:hover {
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background: #fff;
        }
        .card-image {
            height: 260px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            .card-title {
                background: rgba(0, 0, 0, 0.5);
            }
        }
        .card-content{
            font-size: 16px;
            line-height: 20px;
            p{
                height: 20px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
    .list {
        a {
            display: block;
            color: #000;
            text-decoration: none;
            overflow: hidden;
            >.col {
                height: 200px;
            }
        }
        .main-info {
            border-right: 1px solid #ddd;
        }
        .card {
            margin: 10px;
            padding: 0;
            transition: all 0.3s;
            background: #f9f9f9;
        }
        .card:hover {
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background: #fff;
        }
        .card-image {
            height: 200px;
            padding: .75em .75em;
            border-right: 1px solid #ddd;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        h1 {
            padding: 10px;
        }
        .item-name {
            height: 70%;
        }
        .item-publisher,
        .item-location {
            height: 30%;
            font-size: 16px;
            color: #999;
        }
        .item-location {
            text-align: right;
        }
    }
    .progress {
        margin-top: 20px;
        float: left;
    }
}
