div.sidebar(ng-controller="sidebarController")
    li 闲置数码
        div.detail
    li 校园代步
        div.detail
    li 电器日用
        div.detail
    li 图书教材
        div.detail
    li 美妆衣物
        div.detail
    li 运动棋牌
        div.detail
    li 票券小物
        div.detail
    