div.sidebar(ng-controller="sidebarController")
    li(ng-class="{true: 'active'}[isIndex]")
        a.index(href="/")
            img(src="/static/img/index.png")
            em 最新发布
    li(ng-class="{true: 'active'}[isDigital]")
        a.digital(href="/category/digital")
            img(src="/static/img/digital.png")
            em 闲置数码
            span.new-item.grey.lighten-1(ng-show="amount['闲置数码']>0") +{{amount['闲置数码']}}
    li(ng-class="{true: 'active'}[isRide]")
        a.ride(href="/category/ride")
            img(src="/static/img/ride.png")
            em 校园代步
            span.new-item.grey.lighten-1(ng-show="amount['校园代步']>0") +{{amount['校园代步']}}
    li(ng-class="{true: 'active'}[isCommodity]")
        a.commodity(href="/category/commodity")
            img(src="/static/img/commodity.png")
            em 电器日用
            span.new-item.grey.lighten-1(ng-show="amount['电器日用']>0") +{{amount['电器日用']}}
    li(ng-class="{true: 'active'}[isBook]")
        a.book(href="/category/book")
            img(src="/static/img/book.png")
            em 图书教材
            span.new-item.grey.lighten-1(ng-show="amount['图书教材']>0") +{{amount['图书教材']}}
    li(ng-class="{true: 'active'}[isMakeup]")
        a.makeup(href="/category/makeup")
            img(src="/static/img/makeup.png")
            em 美妆衣物
            span.new-item.grey.lighten-1(ng-show="amount['美妆衣物']>0") +{{amount['美妆衣物']}}
    li(ng-class="{true: 'active'}[isSport]")
        a.sport(href="/category/sport")
            img(src="/static/img/sport.png")
            em 运动棋牌
            span.new-item.grey.lighten-1(ng-show="amount['运动棋牌']>0") +{{amount['运动棋牌']}}
    li(ng-class="{true: 'active'}[isSmallthing]")
        a.smallthing(href="/category/smallthing")
            img(src="/static/img/smallthing.png")
            em 票券小物
            span.new-item.grey.lighten-1(ng-show="amount['票券小物']>0") +{{amount['票券小物']}}
    div.info
        a(href="http://chenxi.fudan.edu.cn/",target="_blank") 关于我们
        em -
        a(href="mailto:fdu_chenxi@163.com") 联系我们
        p ©2015 晨曦工作室