#backtop.light {
    bottom: 30px;
    right: 30px;
    z-index: 1;
}

#backtop.light button {
    border-radius: 100%;
    color: black;
    background: white;
    padding: 10px;
    font-size: 22px;
    color: #fff;
    i{
        font-size: 22px;
    }
}

#backtop {
    opacity: 0;
    transition: all .3s ease-out;
    position: fixed
}

#backtop button {
    outline: none;
    border: 0
}

#backtop button:hover {
    cursor: pointer;
    box-shadow:0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color:lighten(#8d6e63,5%) !important;
}

.show {
    opacity: 1 !important
}
