div.header.navbar-fixed(ng-controller="headerController")
    nav.teal.lighten-1
        div.nav-wrapper
            a.brand-logo(href="/") 旦市
            div.nav-wrapper.search-bar
                div.input-field
                    input#search(type="search",required)
                    label(for="search")
                        i.material-icons search
                    i.material-icons trending_flat
            ul.right.hide-on-med-and-down
                - if(session.login)
                    li.publish-btn
                        button.teal.lighten-2.waves-effect.waves-light.btn(ng-click="showPublish()") 我要发布
                    li
                        a(href="/user/") #{session.name}
                    li
                        a(href="/usermanage/") 我发布的商品
                    li
                        a(ng-click="logout()") 退出
                - else
                    li.publish-btn
                        button.teal.lighten-2.waves-effect.waves-light.btn(ng-click="showLogin()",data-position="bottom",data-delay="50",data-tooltip="需要先登陆哦！") 我要发布
                    li
                        a(ng-click="showLogin()") 登陆
                    li
                        a(ng-click="showSignup()") 注册
    nav.teal.nav2(ng-hide="categoryIsHidden")
        div.nav-wrapper
            ul.hide-on-med-and-down.category
                li(ng-class="{true: 'active'}[isDigital]")
                    a(href="/category/digital") 
                        i.iconfont.icon-digital
                        em 闲置数码
                li(ng-class="{true: 'active'}[isRide]")
                    a(href="/category/ride")
                        i.iconfont.icon-ride
                        em 校园代步
                li(ng-class="{true: 'active'}[isCommodity]")
                    a(href="/category/commodity")
                        i.iconfont.icon-commodity
                        em 电器日用
                li(ng-class="{true: 'active'}[isBook]")
                    a(href="/category/book")
                        i.iconfont.icon-book
                        em 图书教材
                li(ng-class="{true: 'active'}[isMakeup]")
                    a(href="/category/makeup")
                        i.iconfont.icon-makeup
                        em 美妆衣物
                li(ng-class="{true: 'active'}[isSport]")
                    a(href="/category/sport")
                        i.iconfont.icon-sport
                        em 运动棋牌
                li(ng-class="{true: 'active'}[isSmallthing]")
                    a(href="/category/smallthing")
                        i.iconfont.icon-smallthing
                        em 票券小物
                //- li.active
                //-     a(href="") a
include ../publish/publish.jade
include ../alert/alert.jade
include ../login/login.jade
include ../signup/signup.jade