div.header(ng-controller="headerController")
    div.head-bar
        a 用户名
        a 学邮认证
        a 退出
    div.head-main
        div.logo
        div.search-bar
            input
            button 搜索
        button.publish 我要发布
    div.head-category
        div
            div 闲置数码
                div.detail 
                    li 手机
                    li 电脑
                    li 移动电子
            div 校园代步
                div.detail 
                    li 自行车
                    li 电动车
                    li 滑板轮滑
            div 电器日用
                div.detail 
                    li 小家电
                    li 洗衣机
                    li 日用品
            div 图书教材
                div.detail 
                    li GER/托福
                    li 小说
                    li 教科书
            div 美妆衣物
                div.detail 
                    li 化妆品
                    li 衣物鞋帽
                    li 箱包
            div 运动棋牌
                div.detail 
                    li 运动健身
                    li 乐器
                    li 棋牌
            div 票券小物
                div.detail 
                    li 票务卡券
                    li 食品
                    li 小物品