div.header.navbar-fixed(ng-controller="headerController")
    nav.white.nav1
        div.nav-wrapper
            a.logo(href="/")
                em.em1 复旦
                em.em2 二手工坊
                em.em3 fudan.market
            //- div.nav-wrapper.search-bar
            //-     div.input-field
            //-         input#search(type="search",required)
            //-         label(for="search")
            //-             i.material-icons search
            //-         i.material-icons trending_flat
            ul.right
                - if(session.login)
                    - if(session.emailVerified)
                        li.publish-btn
                            button.red.lighten-1.waves-effect.waves-light.btn(ng-click="showPublish()") 我要发布
                    -else
                        li.publish-btn
                            button.red.lighten-1.waves-effect.waves-light.btn(ng-click="showVerifyMail()",data-position="bottom",data-delay="50",data-tooltip="需要先验证邮箱哦！") 我要发布
                    li
                        a(href="/usermanage/") 我发布的商品
                    li
                        a #{session.name}
                    li
                        a(ng-click="changeMoreVertShow()")
                            i.iconfont &#xe615;
                        div.more-vert
                            ul.dropdown-content(ng-show="moreVertIsShow")
                                - if(session.emailVerified)
                                    li
                                        a 已学邮验证√
                                - else
                                    li
                                        a(ng-click="showVerifyMail()") 学邮验证
                                li
                                    a(ng-click="showChangeName()") 更改用户名
                                li 
                                    a(ng-click="logout()") 退出登录
                    
                - else
                    li.publish-btn
                        button.red.lighten-1.waves-effect.waves-light.btn(ng-click="showLogin()",data-position="bottom",data-delay="50",data-tooltip="需要先登录哦！") 我要发布
                    li
                        a(ng-click="showLogin()") 登录
                    li
                        a(ng-click="showSignup()") 注册
include ../publish/publish.jade
include ../alert/alert.jade
include ../login/login.jade
include ../signup/signup.jade
include ../verifymail/verifymail.jade
include ../forget/forget.jade
include ../change-name/change-name.jade