@import '../publish/publish.scss';
@import '../login/login.scss';
@import '../signup/signup.scss';
@import '../alert/alert.scss';
@import '../verifymail/verifymail.scss';
@import '../forget/forget.scss';
.header {
    height: 128px !important;
    .search-bar {
        width: 300px;
        position: absolute;
        left: 50%;
        margin-left: -150px;
    }
    a {
        text-decoration: none;
        cursor: pointer;
    }
    .brand-logo {
        margin-left: 30px;
    }
    .publish-btn {
        .btn {
            margin-top: 12px;
            font-size: 16px;
        }
    }
    // .publish-btn:hover {
    //     background: #26a69a;
    // }
    .category {
        // a{
        //     display: block;
        //     overflow: hidden;
        //     height: 100%;
        //     text-decoration: none;
        //     i,em{
        //         display: block;
        //         height:1em;
        //         line-height: 1em;
        //         margin-top: 5px;
        //         text-align: center;
        //     }
        // }
        li {
            position: relative;
        }
        span.new-item {
            position: absolute;
            left: 50px;
            bottom: 3px;
            height: 16px;
            line-height: 16px;
            font-size: 12px;
            padding: 0 4px;
            border-radius: 5px;
        }
        a {
            i,
            em {
                float: left;
            }
        }
    }
    .nav1 {
        z-index: 1;
        .more-vert {
            position: absolute;
            >.dropdown-content {
                opacity: 1;
                display: block;
                width: 150px;
                left: -100px;
                li a {
                    color: #5d4037 !important;
                }
            }
        }
        li.publish-btn:hover {
            background-color: #795548 !important;
        }
        li.publish-btn>button:hover {
            background-color: lighten(#a1887f, 5%) !important;
        }
    }
    .nav2 {
        background-color: rgba(255, 255, 255, 0.9);
        top: 64px;
        .nav-wrapper {
            ul {
                overflow: hidden;
                width: 850px;
                margin: 0 auto;
            }
        }
        a.digital {
            color: #ef5350;
        }
        a.ride {
            color: #fb8c00;
        }
        a.commodity {
            color: #afb42b;
        }
        a.book {
            color: #66bb6a;
        }
        a.makeup {
            color: #039be5;
        }
        a.sport {
            color: #9575cd;
        }
        a.smallthing {
            color: #ab47bc;
        }
    }
}
