@import '../publish/publish.scss';
@import '../login/login.scss';
@import '../signup/signup.scss';
@import '../alert/alert.scss';
@import '../verifymail/verifymail.scss';
@import '../forget/forget.scss';
.header{
    height: 128px !important;
    .search-bar{
        width: 300px;
        position: absolute;
        left: 50%;
        margin-left:-150px;
    }
    a{
        text-decoration: none;
        cursor: pointer;
    }
    .brand-logo{
        margin-left: 30px;
    }
    .publish-btn{
        .btn{
            margin-top:12px;
            font-size: 16px;
        }
    }
    .publish-btn:hover{
        background: #26a69a;
    }
    .category{
        // a{
        //     display: block;
        //     overflow: hidden;
        //     height: 100%;
        //     text-decoration: none;
        //     i,em{
        //         display: block;
        //         height:1em;
        //         line-height: 1em;
        //         margin-top: 5px;
        //         text-align: center;
        //     }
        // }
        a{
            i,em{
                float: left;
            }
        }
    }
    .nav1{
        z-index: 1;
        .more-vert{
            position:absolute;
            >.dropdown-content{
                opacity: 1;
                display: block;
                width: 150px;
                left:-100px;
            }
        }
    }
    .nav2{
        top: 64px;
        .nav-wrapper{
            ul{
                overflow: hidden;
                width: 850px;
                margin:0 auto;
            }
        }
    }
}