div.header.navbar-fixed(ng-controller="headerController")
    nav.teal.nav1.lighten-1
        div.nav-wrapper
            a.brand-logo(href="/") 复旦二手工坊
            //- div.nav-wrapper.search-bar
            //-     div.input-field
            //-         input#search(type="search",required)
            //-         label(for="search")
            //-             i.material-icons search
            //-         i.material-icons trending_flat
            ul.right.hide-on-med-and-down
                - if(session.login)
                    - if(session.emailVerified)
                        li.publish-btn
                            button.teal.lighten-2.waves-effect.waves-light.btn(ng-click="showPublish()") 我要发布
                    -else
                        li.publish-btn
                            button.teal.lighten-2.waves-effect.waves-light.btn(ng-click="showVerifyMail()",data-position="bottom",data-delay="50",data-tooltip="需要先验证邮箱哦！") 我要发布
                    li
                        a(href="/usermanage/") 我发布的商品
                    li
                        a(href="/user/") #{session.name}
                    li
                        a(ng-click="changeMoreVertShow()")
                            i.iconfont &#xe615;
                        div.more-vert
                            ul.dropdown-content(ng-show="moreVertIsShow")
                                - if(session.emailVerified)
                                    li
                                        a 已学邮验证√
                                - else
                                    li
                                        a(ng-click="showVerifyMail()") 学邮验证
                                li
                                    a 个人信息设置
                                li 
                                    a(ng-click="logout()") 退出登录
                    
                - else
                    li.publish-btn
                        button.teal.lighten-2.waves-effect.waves-light.btn(ng-click="showLogin()",data-position="bottom",data-delay="50",data-tooltip="需要先登陆哦！") 我要发布
                    li
                        a(ng-click="showLogin()") 登陆
                    li
                        a(ng-click="showSignup()") 注册
    nav.teal.nav2(ng-hide="categoryIsHidden")
        div.nav-wrapper
            ul.hide-on-med-and-down.category
                li(ng-class="{true: 'active'}[isDigital]")
                    a(href="/category/digital") 
                        i.iconfont &#xe601;
                        em 闲置数码
                li(ng-class="{true: 'active'}[isRide]")
                    a(href="/category/ride")
                        i.iconfont &#xe602;
                        em 校园代步
                li(ng-class="{true: 'active'}[isCommodity]")
                    a(href="/category/commodity")
                        i.iconfont &#xe603;
                        em 电器日用
                li(ng-class="{true: 'active'}[isBook]")
                    a(href="/category/book")
                        i.iconfont &#xe605;
                        em 图书教材
                li(ng-class="{true: 'active'}[isMakeup]")
                    a(href="/category/makeup")
                        i.iconfont &#xe600;
                        em 美妆衣物
                li(ng-class="{true: 'active'}[isSport]")
                    a(href="/category/sport")
                        i.iconfont &#xe604;
                        em 运动棋牌
                li(ng-class="{true: 'active'}[isSmallthing]")
                    a(href="/category/smallthing")
                        i.iconfont &#xe606;
                        em 票券小物
                //- li.active
                //-     a(href="") a
include ../publish/publish.jade
include ../alert/alert.jade
include ../login/login.jade
include ../signup/signup.jade
include ../verifymail/verifymail.jade