@import '../publish/publish.scss';
@import '../login/login.scss';
@import '../signup/signup.scss';
@import '../alert/alert.scss';
@import '../verifymail/verifymail.scss';
@import '../forget/forget.scss';
@import '../change-name/change-name.scss';
.header.stark-components {
    .search-bar {
        width: 300px;
        position: absolute;
        left: 50%;
        margin-left: -150px;
    }
    a {
        text-decoration: none;
        cursor: pointer;
        color: #000;
    }
    .logo {
        margin-left: 60px;
        font-size: 28px;
        font-family: "Microsoft YaHei", "微软雅黑" ! important;
        font-weight: bolder;
        .em1 {
            color: #0bb9f8;
        }
        .em3 {
            font-size: 16px;
            padding-left: 10px;
        }
    }
    .publish-btn {
        .btn {
            margin-top: 12px;
            font-size: 16px;
            display: block;
        }
    }
    .category {
        li {
            position: relative;
        }
        span.new-item {
            position: absolute;
            left: 50px;
            bottom: 3px;
            height: 16px;
            line-height: 16px;
            font-size: 12px;
            padding: 0 4px;
            border-radius: 5px;
        }
        a {
            i,
            em {
                float: left;
            }
        }
    }
    .nav1 {
        z-index: 1;
        .more-vert {
            position: absolute;
            >.dropdown-content {
                opacity: 1;
                display: block;
                width: 150px;
                left: -100px;
                li a {
                    color: #000 !important;
                }
            }
        }
        .notification {
            color: #000;
            width: 60px;
            cursor: pointer;
            position: relative;
            i {
                text-align: center;
            }
            .notification-amount {
                width: 20px;
                height: 20px;
                border-radius: 100%;
                color: #fff;
                font-size: 12px;
                text-align: center;
                line-height: 20px;
                font-weight: bold;
                position: absolute;
                bottom: 8px;
                right: 5px;
            }
            .notification-box {
                position: absolute;
                width: 300px;
                right: -60px;
                background: #fff;
                border-radius: 5px;
                border: 1px solid #ddd;
                li {
                    width: 100%;
                    font-size: 14px;
                    padding: 14px 20px;
                    line-height: 20px;
                    border-bottom: 1px solid #ddd;
                }
            }
        }
        li.publish-btn:hover {
            background-color: #fff !important;
        }
        li.publish-btn>button:hover {
            background-color: lighten(#EF5350, 5%) !important;
        }
    }
}
