/*
KISSY CSS Reset
理念：清除和重置是紧密不可分的
特色：1.适应中文 2.基于最新主流浏览器
维护：玉伯(lifesinger@gmail.com), 正淳(ragecarrier@gmail.com)
*/


/* 清除内外边距 */

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,

/* structural elements 结构元素 */

dl,
dt,
dd,
ul,
ol,
li,

/* list elements 列表元素 */

pre,

/* text formatting elements 文本格式元素 */

fieldset,
lengend,
button,
input,
textarea,

/* form elements 表单元素 */

th,
td {
    /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}


/* 设置默认字体 */

body,
button,
input,
select,
textarea {
    /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
    /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

h1 {
    font-size: 18px;
    /* 18px / 12px = 1.5 */
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

h4,
h5,
h6 {
    font-size: 100%;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}


/* 将斜体扶正 */

code,
kbd,
pre,
samp,
tt {
    font-family: "Courier New", Courier, monospace;
}


/* 统一等宽字体 */

small {
    font-size: 12px;
}


/* 小于 12px 的中文很难阅读，让 small 正常化 */


/* 重置列表元素 */

ul,
ol {
    list-style: none;
}


/* 重置文本格式元素 */

a {
    text-decoration: none;
}

abbr[title],
acronym[title] {
    /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}

q:before,
q:after {
    content: '';
}


/* 重置表单元素 */

legend {
    color: #000;
}


/* for ie6 */

fieldset,
img {
    border: none;
}


/* img 搭车：让链接里的 img 无边框 */


/* 注：optgroup 无法扶正 */

button,
input,
select,
textarea {
    font-size: 100%;
    /* 使得表单元素在 ie 下能继承字体大小 */
}


/* 重置表格元素 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* 重置 hr */

hr {
    border: none;
    height: 1px;
}


/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */

html {
    overflow-y: scroll;
    height: 100%;
}

body {
    font-family: 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Lantinghei SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', 'STHeiti', 'WenQuanYi Micro Hei', 'SimSun', 'sans-serif'!important;
    height: 100%;
    background: #eeeeee;
}

@font-face {font-family: "iconfont";
  src: url('/static/base/fonts/iconfont.eot'); /* IE9*/
  src: url('/static/base/fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/static/base/fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('/static/base/fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('/static/base/fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-makeup:before { content: "\e600"; }
.icon-search:before { content: "\e607"; }
.icon-digital:before { content: "\e601"; }
.icon-ride:before { content: "\e602"; }
.icon-commodity:before { content: "\e603"; }
.icon-sport:before { content: "\e604"; }
.icon-book:before { content: "\e605"; }
.icon-smallthing:before { content: "\e606"; }

.ng-hide-add {
    -webkit-animation: 0.5s fadeOut;
    -moz-animation: 0.5s fadeOut;
    -o-animation: 0.5s fadeOut;
    animation: 0.5s fadeOut;
    z-index: 10;
}

.ng-hide-remove {
    -webkit-animation: 0.7s fadeIn;
    -moz-animation: 0.7s fadeIn;
    -o-animation: 0.7s fadeIn;
    animation: 0.7s fadeIn;
    z-index: 95;
}
.alert.ng-hide-remove {
    -webkit-animation: 0.5s bounceIn;
    -moz-animation: 0.5s bounceIn;
    -o-animation: 0.5s bounceIn;
    animation: 0.5s bounceIn;
    z-index: 99999;
}
.alert.ng-hide-add {
    -webkit-animation: 0.5s bounceOut;
    -moz-animation: 0.5s bounceOut;
    -o-animation: 0.5s bounceOut;
    animation: 0.5s bounceOut;
    z-index: 99999;
}