div.login.stark-components {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 999;
    .publish-box {
        z-index: 9999;
        >.row {
            padding-bottom: 50px;
        }
        width: 300px;
        position:absolute;
        left: 50%;
        margin-left: -150px;
        top: 20%;
        background:#fff;
        .title {
            background:url('/static//img/title.png');
            background-size:contain;
            height: 100px;
        }
        div.s6 {
            height: 50px;
        }
        .login-btn {
            display: block;
            margin:0 auto;
            width: 200px;
            position:relative;
            top: 20px;
        }
        .login-btn:hover {
            background-color: lighten(#EF5350, 5%) !important;
        }
        .forget-btn{
            cursor: pointer;
            float: right;
            color: #aaa;
        }
        .signup-btn{
            cursor: pointer;
            color: #EF5350;
        }
        .signup-area{
            text-align: center;
            position:relative;
            top: 40px;
        }
    }
}
