div.login {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 999;
    .publish-box {
        z-index: 9999;
        >.row {
            padding-bottom: 70px;
        }
        width: 300px;
        position:absolute;
        left: 50%;
        margin-left: -150px;
        top: 20%;
        background:#fff;
        .title {
            background: #26a69a;
            color: #fff;
            padding: 10px;
            font-size: 24px;
            text-align: center;
        }
        div.s6 {
            height: 50px;
        }
        .login-btn {
            position: absolute;
            bottom: 20px;
            left: 20px;
        }
        .signup-btn {
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
        .publish-btn:hover {
            background-color: lighten(#EF5350, 5%) !important;
        }
        .forget-btn{
            cursor: pointer;
        }
    }
}
