div(ng-controller="loginController")
    div.login.stark-components#change-show(ng-show="loginIsShow",ng-click="changeLoginShow($event)")
        div.publish-box.z-depth-4
            div.row
                div.col.s12.title
                div.input-field.col.s12
                    input.validate(type="text",ng-model="user.username",required)
                    label(for="item-name") 手机
                div.input-field.col.s12
                    input.validate(type="password",ng-model="user.password",ng-keyup="checkEnter($event)",required)
                    label(for="item-detail") 密码
                    a.forget-btn(ng-click="showForget()") 忘记密码？
                button.waves-effect.waves-light.btn.login-btn.red.lighten-1(ng-click="login()")
                    i.iconfont.left &#xe614;
                    em 登录
                div.col.s12.signup-area
                    em 没有账号？赶快
                    a.signup-btn(ng-click="showSignup()") 注册
                    em 吧！