@import '../../components/header/header.scss';
@import '../../components/sidebar/sidebar.scss';
@import '../../components/waterfoo/waterfoo.scss';
@import '../../components/base/base.scss';
@import '../../components/base/animate.scss';
@import '../../components/material.css';
@import '../../components/alert/alert.scss';
@import '../../components/back-to-top/back-to-top.scss';
.index-title{
    width: 960px;
    margin:0 auto;
    margin-top: 30px;
    font-size: 20px;
    color: #5d4037!important;
    padding: 10px;
    i{
        float: left;
        font-size: 20px;
    }
    a,>p{
        color: #000!important;
        padding:5px;
        font-weight: 600;
        display: block;
    }
    .hr1{
        border:none;
        border-top:5px solid #0bb9f8;
        width: 110px;
        display: inline-block;
    }
    .hr2{
        display: inline-block;
        width: 830px;
        border:none;
        border-top:2px solid #d9d9d9;
    }
}
.no-item{
    font-size: 30px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin-bottom: 50px;
    >button:hover{
        background-color: lighten(#795548,5%) !important;
    }
}
.main-content{
    margin-left: 200px;
    padding-top: 26px;
    .slider-wapper{
        width: 940px;
        margin:0 auto;
        padding:10px;
        h3{
            font-size: 24px;
        }
        h5{
            font-size: 20px;
        }
        h3,h5{
            text-align: left;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: initial;
        }
        h4{
            text-align: right;
        }
        .caption{
            width: 30% !important;
            left: 5% !important;
            overflow: hidden;
            padding: 10px;
            background-color:rgba(0,0,0,0.7);
            h3{
                color: #fff;
            }
        }
        a{
            display: block;
        }
        .indicators{
            z-index: 2;
            bottom:55px;
            .indicator-item{
                width: 10px;
                height: 10px;
                background-color:#fff;
            }
            .indicator-item.active{
                background-color: #0bb9f8;
            }
        }
    }
}