div(ng-controller="verifyMailController")
    div.verify-mail#change-show(ng-show="verifyMailIsShow",ng-click="changeVerifyMailShow($event)")
            div.publish-box.z-depth-4
                div.row
                    div.col.s12.loader(ng-show="loaderIsShow")
                        div.preloader-wrapper.big.active
                            div.spinner-layer.spinner-red-only
                                div.circle-clipper.left
                                    div.circle
                                div.gap-patch
                                    div.circle
                                div.circle-clipper.right
                                    div.circle
                    div.col.s12.title
                        h1 验证邮箱
                    div.input-field.col.s12
                        input.validate(type="text",ng-model="mailAddress",required,pattern="^[0-9]{11}$")
                        label 复旦学邮
                        em @fudan.edu.cn
                    div.col.s12
                        button.waves-effect.waves-light.btn.publish-btn.red.lighten-1(ng-click="requestVerifyMail()")
                            i.iconfont.left &#xe60a;
                            em 发送验证邮件